@font-face {
  font-family: "Dancing Script OT Regular";
  src: url("/css/fonts/DancingScriptOTRegular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

header {
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  background-color: rgb(0, 138, 255);
}
header > h1 {
  margin-bottom: 0;
  
  font-family: "Dancing Script OT Regular";
  font-size: 2rem;
  color: white;
  text-align: center;
}

#links {
  list-style-type: none;
  padding-left: 0;
}

.link.is-read {
  text-decoration: line-through;
}