@font-face {
  font-family: "Dancing Script OT Regular";
  src: url("/css/fonts/DancingScriptOTRegular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  
  background-color: rgb(0, 138, 255);
  box-shadow: 0 1px 2px 1px gray;
  
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
}
header > h1 {
  margin-bottom: 0;
  
  font-family: "Dancing Script OT Regular";
  font-size: 2rem;
  color: white;
  text-align: center;
}

#links {
  list-style-type: none;
  padding-left: 0;
  
  margin-top: 3rem;
}
.link {
  display: block;
  padding-left: 10px;
  border-bottom: 1px solid gray;
    
  height: 3rem;
  line-height: 3rem;
  vertical-align: midlle;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link.is-read {
  text-decoration: line-through;
}