/* General purpose */
@font-face {
  font-family: "Dancing Script OT Regular";
  src: url("/style/fonts/DancingScriptOTRegular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

header > button {
  float: right;
  box-sizing: border-box;
  position: relative;
  display: block;
  overflow: hidden;
  min-width: 2.25rem;
  width: auto;
  height: 2.25rem;
  border: none;
  background: none;
  padding: 0 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.25rem;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  font-style: italic;
}

.icon {
  display: block;
  width: 1.5rem;
  height: 3rem;
  background: transparent no-repeat center / 2rem auto;
  font-size: 0;
}
.icon-edit {
  background-image: url('icons/edit.png');
}
/* ------------- */

/* Base settings */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}
/* ------------- */

header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: rgb(0, 138, 255);
  box-shadow: 0 1px 2px 1px gray;

  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
}
header > h1 {
  margin-bottom: 0;

  font-family: "Dancing Script OT Regular";
  font-size: 2rem;
  color: white;
  text-align: center;
}


#links {
  list-style-type: none;
  padding-left: 0;

  margin-top: 3rem;
}
.link a {
  display: block;
  padding-left: 10px;
  border-bottom: 1px solid gray;

  height: 3rem;
  line-height: 3rem;
  vertical-align: midlle;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link.is-read {
  text-decoration: line-through;
}

iframe {
  display: none;
}
